In [80]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler

In [58]:
data= pd.read_csv('iris.csv')
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [59]:
cols_to_drop= 'species'
X=data.drop(cols_to_drop,axis=1)
y=data[cols_to_drop]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
model= LogisticRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [82]:
X_test.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [61]:
accuracy_score = accuracy_score(y_test,y_pred)
print(f"accuracy score is {accuracy_score}")

accuracy score is 1.0

In [62]:
iris = load_iris()
class_names = iris.target_names
report = classification_report(y_test, y_pred, target_names=class_names)
print(report)

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        10
  versicolor       1.00      1.00      1.00         9
   virginica       1.00      1.00      1.00        11

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [84]:
user_input= {}
for Column in X:
    user_input = float(input(f"enter value for {Column} "))
    user_input_df = pd.DataFrame([user_input])

enter value for sepal_length 2
enter value for sepal_width 2
enter value for petal_length 2
enter value for petal_width 2

In [85]:
user_input_df.dtypes

0    float64
dtype: object

In [89]:
pred = model.predict(user_input_df)

TypeError: LinearClassifierMixin.predict() takes 2 positional arguments but 4 were given