In [15]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import pandas as pd

In [16]:
data= pd.read_csv('Diabetes.csv')
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [21]:
column_to_drop='Outcome'
X=data.drop(column_to_drop, axis=1)
y=data['Outcome']

In [23]:
model=DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier()

In [26]:
mapping = {0: 'No', 1: 'Yes'}
data['Outcome'] = data['Outcome'].map(mapping)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,Yes
1,1,85,66,29,0,26.6,0.351,31,No
2,8,183,64,0,0,23.3,0.672,32,Yes
3,1,89,66,23,94,28.1,0.167,21,No
4,0,137,40,35,168,43.1,2.288,33,Yes
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,No
764,2,122,70,27,0,36.8,0.340,27,No
765,5,121,72,23,112,26.2,0.245,30,No
766,1,126,60,0,0,30.1,0.349,47,Yes
767,1,93,70,31,0,30.4,0.315,23,No

In [ ]:
in_Pregnancies=input("enter Pregnancies")
in_Glucose=input("enter Glucose ")
in_BloodPressure=input("enter BloodPressure ")
in_SkinThickness=input("enter SkinThickness ")
in_Insulin=input("enter Insulin")
in_BMI=input("enter BMI")
in_DiabetesPedigreeFunction=input("enter DiabetesPedigreeFunction ")
in_Age=input("enter Age ")